
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KayitOl</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <br />
        <h2>Kayıt Ol</h2>

        <div class="form-group col md-3 container">
            <form method="post">

                <label>Adı</label>
                <input type="text" name="Adi" class="form-control" required />
                <br />

                <label>Soy Adı</label>
                <input type="text" name="Soyadi" class="form-control" required />
                <br />

                <label>Kullanıcı Ad</label>
                <input type="text" name="KullaniciAdi" class="form-control" required />
                <br />

                <label>Email</label>
                <input type="text" name="Email" class="form-control" required />

                <br /> <label>Telefon</label>
                <input type="text" name="Telefon" class="form-control" required />
                <br />


                <button class="btn btn-secondary">Kayıt Ol</button>

            </form>
        </div>

    </div>
</body>
</html>
